body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
    color: #333;
}

#book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.book {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0e8d8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.book:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.book p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}

.book button {
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.book button:hover {
    background-color: #f0e8d8;
    color: #333;
    border: 1px solid #333;
}

#new-book-btn {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#new-book-btn:hover {
    background-color: #f0e8d8;
    color: #333;
    border: 1px solid #333;
}

#example-books-btn {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: 10px;
    margin-top: 10px;
}

#example-books-btn:hover {
    background-color: #f0e8d8;
    color: #333;
    border: 1px solid #333;
}

#new-book-form {
    display: none;
    margin-top: 20px;
}

#new-book-form h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

#new-book-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-book-form label {
    margin-top: 10px
}